body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.container {
    text-align: center;
    margin: 40px; /* Aumentando o espaçamento ao redor do container */
}

h1 {
    font-size: 24px;
    margin-bottom: 60px; /* Aumentando o espaçamento abaixo do título */
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px; /* Aumentando o espaçamento acima do container de botões */
}

.button-row {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-bottom: 40px; /* Aumentando o espaçamento entre as linhas de botões */
    width: 100%;
}

button {
    padding: 20px 40px; /* Ajustando o espaçamento interno dos botões */
    margin: 20px; /* Aumentando o espaçamento entre os botões */
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #388EA9;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #388EA9;
}