body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

h1 {
    font-size: 1.5rem;
}

.login-form {
    margin: 0 auto;
    width: 90%;
    max-width: 500px;
    padding: 2rem;
    border-radius: 5px;
    background-color: var(--light-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form .wrapper {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

@media (max-width: 768px) {
    .login-form {
        width: 95%;
    }
}

.login-form .wrapper label {
    align-self: start;
}

.login-form .wrapper input {
    outline: none;
    width: 100%;
    max-width: 400px;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form .wrapper button {
    width: 100%;
    max-width: 405px;
    padding-block: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: var(--primary-color);
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-form .wrapper button:hover {
    background-color: var(--primary-color-dark);
    transform: scale(1.01);
}
