* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    background-color: #388EA9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.container-logo {
    display: flex;
    align-items: center;
}

.logo-imagem {
    width: 75px;
    height: 50px;
}

.menu {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.menu ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin: 0 10px;
}

.menu li a {
    font-size: 10px; /* Reduced font size */
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 5px 10px;
}

.botoes {
    display: flex;
}

.login {
    font-size: 10px; /* Reduced font size */
    display: flex;
}

.main-content {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100%;
    background-color: #388EA9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
}

.container-logo2 {
    display: flex;
    align-items: center;
}

.logo-imagem2 {
    width: 75px;
    height: 50px;
}

.botoes2 {
    display: flex;
    align-items: center;
    margin: 5px;
}

.menu2 {
    display: flex;
    align-items: center;
    padding: 0; /* Remove padding */
    background-color: #388EA9;
}

.menu2 li {
    display: inline-block;
    margin: 5px;
}

.menu2 li a {
    font-size: 10px; /* Reduced font size */
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 5px 10px;
}

.informacoes {
    color: white;
    font-size: 10px; /* Reduced font size */
    display: inline-block;
    margin: 5px;
    position: absolute;
    right: 20px; /* Adjusted to align with padding */
}

.informacoes h1 {
    font-size: 10px; /* Reduced font size */
}

.info-section {
    text-align: center;
    padding: 20px;
}

.info-section h2 {
    color: #388EA9;
    font-size: 24px;
    margin-bottom: 20px;
}

.info-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: left;
}

.info-item:nth-child(2) {
    flex-direction: row-reverse;
}

.info-image img {
    border: 2px solid #388EA9;
    border-radius: 10px;
    width: 200px;
    height: auto;
}

.info-text {
    max-width: 400px;
}

.info-text p {
    font-size: 14px;
    color: #333;
}

body {
    background-color: #E5E5E5; /* Adiciona o background geral */
    font-family: Arial, sans-serif; /* Fonte padrão para o body */
    text-align: center;
}