:root {
    --primary-color: #56B2CF;
    --primary-color-dark: #388EA9;
    --secondary-color: #388EA9;

    --success-color: #28a745;
    --info-color: #17a2b8;
    --warning-color: #ffc107;
    --danger-color: #dc3545;

    --light-color: #f8f9fa;
    --dark-color: #343a40;

    --background-color: #EEE;
    --darkier-background-color: #DDD;
}

* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
}

.helper-text {
    max-width: 300px;
    font-size: 1rem;
    color: var(--info-color);
    text-decoration: none;
    padding: 1rem;
}

.helper-text a {
    color: var(--info-color);
    text-decoration: underline;
    cursor: pointer;
}

.alert {
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 5px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alert-success {
    background-color: var(--success-color);
    color: #fff;
}

.alert-danger {
    background-color: var(--danger-color);
    color: #fff;
}
