header {
    width: 100%;
    background-color: var(--primary-color-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header .logo-container {
    display: flex;
    align-items: center;
}

header .logo-container img {
    height: 75px;
}

header nav {
    display: flex;
    align-items: center;
}

header nav a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

main section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
    flex-direction: row;
    width: 100%;
    max-width: 900px;
}


main section.highlight {
    filter: brightness(90%);
}

main section div {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

main section div h1 {
    text-align: center;
    padding: 10px;
}

main section div a {
    margin-top: 20px;
    color: white;
    text-decoration: none;
    padding: 10px;
    border: 1px solid var(--primary-color-dark);
    background-color: var(--primary-color);
    border-radius: 5px;
    text-align: center;
}

main section div:first-child {
    padding: 40px;
}

main section div img {
    margin-inline: auto;
    width: 300px;
    border-radius: 5px;
    object-fit: contain;
}

main section:nth-child(even) {
    flex-direction: row-reverse;
}

.about {
    width: 70% !important;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 900px;
    margin-inline: auto;
    font-size: 1.1rem;
}

section form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

section form fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    min-width: 300px;
    max-width: 500px;
    padding: 20px;
    border: 1px solid var(--primary-color-dark);
    border-radius: 5px;
}

section form fieldset select {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--primary-color-dark);
    border-radius: 5px;
    background-color: white;
}

section form fieldset select option {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--primary-color-dark);
    border-radius: 5px;
    background-color: white;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

section form fieldset input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--primary-color-dark);
    border-radius: 5px;
}

section form button {
    width: 40%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    background-color: var(--primary-color-dark);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

section form fieldset button:hover {
    background-color: var(--primary-color);
}

footer {
    width: 100%;
    background-color: var(--primary-color-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

@media (max-width: 768px) {
    header {
        padding: 10px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-template-areas:
            "logo logo"
            "nav1 nav2";
        justify-content: center;
    }

    header .logo-container {
        grid-area: logo;
        display: flex;
        justify-content: center;
    }

    header nav:first-of-type {
        grid-area: nav1;
        display: flex;
        justify-content: center;
    }

    header nav:last-of-type {
        grid-area: nav2;
        justify-content: center;
    }}
