* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

header, .header2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header {
    background-color: #388EA9;
    margin-bottom: 0; /* Remove any default margin */
}

.header2 {
    background-image: url("/public/homepage1.png");
    background-size: cover;
    background-position: center;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    min-height: 200px;
    margin-top: 0; /* Ensure no margin at the top */
}

.container-logo, .container-logo2 {
    display: flex;
    align-items: center;
}

.logo-imagem, .logo-imagem2 {
    width: 75px;
    height: 50px;
}

.menu {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.menu ul, .botoes2 {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li, .menu2 li {
    margin: 0 10px;
}

.menu li a, .menu2 li a {
    font-size: 10px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 5px 10px;
}

.botoes, .login, .botoes2 {
    display: flex;
}

.main-content {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100%;
    background-color: #388EA9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
}

.container-logo2 {
    display: flex;
    align-items: center;
}

.logo-imagem2 {
    width: 75px;
    height: 50px;
}

.botoes2 {
    display: flex;
    align-items: center;
    margin: 5px;
}

.menu2 {
    display: flex;
    align-items: center;
    padding: 0; /* Remove padding */
    background-color: #388EA9;
}

.menu2 li {
    display: inline-block;
    margin: 5px;
}

.menu2 li a {
    font-size: 10px; /* Reduced font size */
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 5px 10px;
}

.informacoes {
    color: white;
    font-size: 10px; /* Reduced font size */
    display: inline-block;
    margin: 5px;
    position: absolute;
    right: 20px; /* Adjusted to align with padding */
}

.informacoes h1 {
    font-size: 10px; /* Reduced font size */
}

.header2 .coragem {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header2 .sub-titulos {
    display: flex;
    justify-content: flex-start; /* Mantém a direção do fluxo dos itens */
    align-items: center; /* Alinha os itens verticalmente */
    width: 100%;
}

.header2 .coragem h1,
.header2 .sub-titulos h2 {
    font-size: 20px;
    margin-left: 80px;
}

.header2 .sub-titulos h3 {
    font-size: 50px;
}

.header2 .descricao {
    display: flex;
    margin-top: 10px;
    margin-left: 80px;
    width: 500px;
    text-wrap: wrap;
}

.header2 .sub-titulos h2 {
    margin-right: 10px; /* Adiciona um espaçamento de 10px à direita de h2 */
}

.conteudo {
    font-size: 12px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 800px;
    text-wrap: wrap;
}

.conteudo img {
    margin-left: 0px;
}

.homepage1,
.homepage2 {
    width: 150px; /* Defina a largura desejada */
    height: auto; /* Mantenha a proporção da imagem */
}