<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/ajuda-externa.css">
    <title>Ajuda</title>
</head>
<body>
    <header>
        <div class="container-logo">
            <a href="/website-main/templates/homepage.html" class="logo-button">
                <img src="/public/borboleta pac.png" alt="logo-imagem" class="logo-imagem">
            </a>
        </div>
        <nav class="menu">
            <ul class="botoes"> 
                <li><a href="/website-main/templates/ajuda-externa.html">Ajuda</a></li>
                <li><a href="/website-main/templates/doacao.html">Doações</a></li>
                <li><a href="/website-main/templates/sobre-nos.html">Sobre Nós</a></li>
            </ul>
            <ul class="login">
                <li><a href="/website-main/templates/login.html">Login</a></li>
                <li><a href="#">Cadastro</a></li>
            </ul>
        </nav>
    </header>
    
    <main class="main-content">
        <h2>Oferecendo um lugar seguro e recursos para superar desafios.</h2>
        <form class="help-form">
            <div class="input-group">
                <label for="name">Nos informe seu nome:</label>
                <input type="text" id="name" name="name" placeholder="Digite aqui...">
            </div>
            <div class="input-group">
                <label for="contact">Um telefone/email para contato:</label>
                <input type="text" id="contact" name="contact" placeholder="Digite aqui...">
            </div>
            <div class="input-group">
                <label for="message">Conte-nos como podemos lhe ajudar:</label>
                <textarea id="message" name="message" placeholder="Digite aqui..."></textarea>
            </div>
            <button type="submit">Enviar pedido de ajuda</button>
        </form>
        <div class="help-numbers">
            <h3>Caso prefira/necessite, segue abaixo números úteis que podem te ajudar:</h3>
            <ul class="help-list">
                <li>Direitos Humanos: <a href="tel:100">100</a></li>
                <li>Delegacia da Mulher: <a href="tel:180">180</a></li>
                <li>Disque Denúncia: <a href="tel:181">181</a></li>
                <li>Polícia Rodoviária Estadual: <a href="tel:198">198</a></li>
                <li>Polícia Federal: <a href="tel:194">194</a></li>
                <li>Polícia Civil: <a href="tel:197">197</a></li>
                <li>Polícia Militar: <a href="tel:190">190</a></li>
                <li>Bombeiros: <a href="tel:193">193</a></li>
                <li>Samu (Emergência): <a href="tel:192">192</a></li>
                <li>Defesa Civil: <a href="tel:199">199</a></li>
            </ul>
        </div>
    </main>
    
    <footer>
        <div class="menu2">
            <div class="container-logo2">
                <a href="/website-main/templates/homepage.html" class="logo-button2">
                    <img src="/public/borboleta pac.png" alt="logo-imagem2" class="logo-imagem2">
                </a>
            </div>
            <ul class="botoes2"> 
                <li><a href="/website-main/templates/ajuda-externa.html">Ajuda</a></li>
                <li><a href="/website-main/templates/doacao.html">Doações</a></li>
                <li><a href="/website-main/templates/sobre-nos.html">Sobre Nós</a></li>
            </ul>
            <div class="informacoes">
                <h1>(47) 9999-9999 | R. XXXXXX XXX, 24</h1>
            </div>
        </div>
    </footer>
</body>
</html>