<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selecione a área que deseja acessar</title>
    <link rel="stylesheet" type="text/css" href="/public/areas.css">
</head>
<body>
    <div class="container">
        <h1>Selecione a área que deseja acessar</h1>
        <div class="button-container">
            <div class="button-row">
                <button>Atendimentos</button>
                <button>Mapeamento</button>
                <button>Doações</button>
            </div>
            <div class="button-row">
                <button>Campanhas</button>
                <button>Administração</button>
            </div>
        </div>
    </div>
</body>
</html>