<!DOCTYPE html>
<html lang="pt">
    <head>
        {% block extra_head %}
        {% endblock %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/public/logo.jpg" type="image/x-icon">
        <link rel="stylesheet" href="/public/main.css">
        <link rel="stylesheet" href="/public/tailwind.css">
        <title>{% block title %}Instituto Borboletas{% endblock %}</title>
    </head>
    <body>
        {% block header %}
            <header>
                <div class="logo-container">
                    <a href="/">
                        <img src="/public/logo.jpg" alt="Logo do Instituto">
                    </a>
                </div>

                <nav>
                    <a href="/">Voltar ao início</a>
                </nav>

                <nav>
                    <a href="/eu">Meus dados</a>
                </nav>
            </header>
        {% endblock %}

        <section class="main-content">
            {% block content %}
            {% endblock %}
        </section>

        {% block footer %}
            <footer>
                <div>
                    <h3>Contatos</h3>
                    <p><a href="mailto:" class="email">Email</a></p>
                    <p><a href="tel:" class="phone">Telefone</a></p>
                    <p><a href="https://www.instagram.com/instituto.borboleta/">Instagram</a></p>
                </div>

                <p>&copy; 2024 Instituto Borboletas. Todos os direitos reservados.</p>
            </footer>
        {% endblock %}
    </body>

    <script>
        const headerLinks = document.querySelectorAll('header nav a');
        if (window.location.pathname === '/') {
            headerLinks.forEach(link => {
                const target = event.target.getAttribute('href');
                if (target.startsWith('/')) {
                    return;
                }

                link.addEventListener('click', (event) => {
                    event.preventDefault();
                    const element = document.querySelector(target);
                    element.scrollIntoView({ behavior: 'smooth', block: 'center' });
                    element.classList.add('highlight');
                    setTimeout(() => {
                        element.classList.remove('highlight');
                    }, 1200);
                });
            });
        } else {
            headerLinks.forEach(link => {
                link.addEventListener('click', (event) => {
                    window.location.href = event.target.getAttribute('href');
                });
            });
        }
    </script>

    {% block extra_script %}
    {% endblock %}
</html>
