<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/doacao.css">
    <title>Doações</title>
</head>
<body>
    <header>
        <div class="container-logo">
            <a href="/website-main/templates/homepage.html" class="logo-button">
                <img src="/public/borboleta pac.png" alt="logo-imagem" class="logo-imagem">
            </a>
        </div>
        <nav class="menu">
            <ul class="botoes"> 
                <li><a href="/website-main/templates/ajuda-externa.html">Ajuda</a></li>
                <li><a href="/website-main/templates/doacao.html">Doações</a></li>
                <li><a href="/website-main/templates/sobre-nos.html">Sobre Nós</a></li>
            </ul>
            <ul class="login">
                <li><a href="/website-main/templates/login.html">Login</a></li>
                <li><a href="#">Cadastro</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="header2">
        <div class="coragem">
            <h1>Coragem feminina é a</h1>
            <div class="sub-titulos">
                <h2>nossa </h2>
                <h3>Força</h3>
            </div>
        </div>
        <div>
            <p class="descricao"> A coragem feminina é uma força incomparável<br>
                que desafia barreiras e preconceitos. É uma<br>
                chama que arde com intensidade e conduz<br>
                mulheres por caminhos desconhecidos em<br>
                busca de seus objetivos.
            </p>
        </div>
    </div>

    <main class="main-content">
        <div class="formulario">
            <h2>Oferecendo um lugar seguro e recursos <br>
                para superar desafios.</h2>
            <form>
                <div class="input-group">
                    <label for="nome">Nos informe seu nome:</label>
                    <input type="text" id="nome" name="nome" placeholder="Digite aqui...">
                </div>
                <div class="input-group">
                    <label for="contato">Um telefone/email para contato:</label>
                    <input type="text" id="contato" name="contato" placeholder="Digite aqui...">
                </div>
                <div class="input-group">
                    <label for="cpf_cnpj">Seu CPF/CNPJ:</label>
                    <input type="text" id="cpf_cnpj" name="cpf_cnpj" placeholder="Digite aqui...">
                </div>
                <div class="input-group">
                    <label for="pagamento">Selecione a forma de pagamento:</label>
                    <select id="pagamento" name="pagamento">
                        <option value="">Selecione</option>
                        <!-- Adicione outras opções conforme necessário -->
                    </select>
                </div>
                <button type="submit">Continuar para doação</button>
            </form>
        </div>
    </main>

    <footer>
        <div class="menu2">
            <div class="container-logo2">
                <a href="/website-main/templates/homepage.html" class="logo-button2">
                    <img src="/public/borboleta pac.png" alt="logo-imagem2" class="logo-imagem2">
                </a>
            </div>
            <ul class="botoes2"> 
                <li><a href="/website-main/templates/ajuda-externa.html">Ajuda</a></li>
                <li><a href="/website-main/templates/doacao.html">Doações</a></li>
                <li><a href="/website-main/templates/sobre-nos.html">Sobre Nós</a></li>
            </ul>
            <div class="informacoes">
                <h1>(47) 9999-9999 | R. XXXXXX XXX, 24</h1>
            </div>
        </div>
    </footer>
</body>
</html>