<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/homepage.css">
    <title>Homepage</title>
</head>
<body>
    <header>
        <div class="container-logo">
            <a href="/website-main/templates/homepage.html" class="logo-button">
                <img src="/public/borboleta pac.png" alt="logo-imagem" class="logo-imagem">
            </a>
        </div>
        <nav class="menu">
            <ul class="botoes"> 
                <li><a href="/website-main/templates/ajuda-externa.html">Ajuda</a></li>
                <li><a href="/website-main/templates/doacao.html">Doações</a></li>
                <li><a href="/website-main/templates/sobre-nos.html">Sobre Nós</a></li>
            </ul>
            <ul class="login">
                <li><a href="/website-main/templates/login.html">Login</a></li>
                <li><a href="#">Cadastro</a></li>
            </ul>
        </nav>
    </header>
    
    <main class="main-content">
        <section class="info-section">
            <h2>Oferecendo um lugar seguro e recursos
                <br> para superar desafios.</h2>
            <div class="info-content">
                <div class="info-item">
                    <div class="info-image">
                        <img src="https://via.placeholder.com/200" alt="Imagem 1">
                    </div>
                    <div class="info-text">
                        <p>Se você está em busca de ajuda, seja através de acompanhamento psicológico ou acolhimento em uma comunidade, nossa ONG oferece um ambiente seguro e acolhedor para ajudar você a superar desafios.</p>
                    </div>
                </div>
                <div class="info-item">
                    <div class="info-image">
                        <img src="https://via.placeholder.com/200" alt="Imagem 2">
                    </div>
                    <div class="info-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
    <footer>
        <div class="menu2">
            <div class="container-logo2">
                <a href="/website-main/templates/homepage.html" class="logo-button2">
                    <img src="/public/borboleta pac.png" alt="logo-imagem2" class="logo-imagem2">
                </a>
            </div>
            <ul class="botoes2"> 
                <li><a href="/website-main/templates/ajuda-externa.html">Ajuda</a></li>
                <li><a href="/website-main/templates/doacao.html">Doações</a></li>
                <li><a href="/website-main/templates/sobre-nos.html">Sobre Nós</a></li>
            </ul>
            <div class="informacoes">
                <h1>(47) 9999-9999 | R. XXXXXX XXX, 24</h1>
            </div>
        </div>
    </footer>
</body>
</html>