<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oferecendo um lugar seguro e recursos para superar desafios</title>
    <link rel="stylesheet" type="text/css" href="homepage.css">
</head>
<body>
    <div class="container">
        <div class="content">
            <img src="/public/homepage1.png" alt="Imagem 1">
            <h2>Texto 1</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis lorem ut libero malesuada feugiat.</p>
        </div>
        <div class="content">
            <img src="/public/homepage2.jpg" alt="Imagem 2">
            <h2>Texto 2</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis lorem ut libero malesuada feugiat.</p>
        </div>
    </div>
</body>
</html>