{% extends 'base.html' %}

{% block extra_head %}
<link rel="stylesheet" href="/public/home.css">
{% endblock %}

{% block title %}
Instituto Borboletas
{% endblock %}

{% block header %}
<header>
    <div class="logo-container">
        <a href="/">
            <img src="/public/logo.jpg" alt="Logo do Instituto">
        </a>
    </div>

    <nav>
        <a href="#quem-somos">Quem somos</a>
        <a href="#ajuda">Preciso de ajuda</a></li>
        <a href="#voluntario">Seja voluntario</a>
    </nav>

    <nav>
        {% if has_token %}
        <a href="/eu">Meus dados</a>
        {% else %}
        <a href="/login">Fazer login</a>
        {% endif %}
    </nav>
</header>
{% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="alert">
    {% for category, message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<main>
    <section id="quem-somos">
        <div class="about">
            <h1 class="text-xl">Sobre Nós</h1>
            <p>
                O Instituto Borboletas é uma organização sem fins lucrativos que tem como objetivo ajudar pessoas vitimas de violência domestica.
            </p>
        </div>
    </section>

    <section id="ajuda">
        <div>
            <h1 class="text-xl">Preciso de ajuda</h1>
            <p>
                Se você é uma vitima de violência domestica, entre em contato conosco para que possamos te ajudar.
            </p>
            <a href="/ajuda">Pedir ajuda</a>
        </div>

        <div>
            <img src="/public/image.png" alt="Ajuda">
        </div>
    </section>

    <section id="voluntario">
        <div>
            <h1 class="text-xl">Seja voluntario</h1>
            <p>
                Se você deseja ajudar as pessoas vitimas de violência domestica, torne-se um voluntario do Instituto Borboletas.
            </p>
            <a href="/voluntario">Seja voluntario</a>
        </div>

        <div>
            <img src="/public/image.png" alt="Voluntario">
        </div>
    </section>
</main>
{% endblock %}

{% block extra_script %}
<script>
const alertMessages = document.querySelectorAll('.alert p');
alertMessages.forEach(alert => {
    setTimeout(() => {
        alert.remove();
    }, 3000);
});
</script>
{% endblock %}
