<html>
    <head>
        <title>Borboletas</title>
    </head>
    <body>
        <header>
            <h2>Institulo borboletas</h2>
            <nav>
                <ul>
                    <li><a href="/sobre">Sobre</a></li>
                    <li><a href="/contato">Contato</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <section id="quem-somos">
                <h1>Seja bem-vindo ao instituto borboletas</h1>
                <p>SKJDKJASHDKJASHKJDHASKJDHJKASHDKASHDKASHKDHASJKD</p>
            </section>

            <section id="seja-voluntario">
                <h2>Seja um voluntário</h2>
                <p>Conheça nosso trabalho e faça parte dessa causa.</p>
            </section>
        </main>
    </body>
</html>
