<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login interno</title>
        <link rel="stylesheet" type="text/css" href="/public/internal_login.css">
        <link rel="stylesheet" type="text/css" href="/public/main.css">
    </head>
    <body>
        {%- for category, message in get_flashed_messages(with_categories = true) %}
            <div class = "alert alert-danger">
                {{ message }}
            </div>
        {%- endfor %}


        <h1>Instituto Borboletas</h1>
        <h2>Login interno</h1>

        <p class="helper-text">Caso nao seja um usuario interno, volte a pagina principal <a href="/">clicando aqui!</a></p>

        <form class="login-form" action="/usuarios/interno/login" method="POST">
            <div class="wrapper">
                <label for="email">Email *</label>
                <input type="email" id="email" name="email" required>
            </div>

            <div class="wrapper">
                <label for="password">Senha *</label>
                <input type="password" id="password" name="password" required>
            </div>

            <div class="wrapper">
                    <button>Entrar</button>
            </div>
        </form>
    </body>
</html>
