<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Acesso interno</title>
        <link rel="stylesheet" type="text/css" href="/public/internal_dashboard.css">
        <link rel="stylesheet" type="text/css" href="/public/main.css">
    </head>
    <body>
        <!-- Handle messages with a modal -->
        <!-- {%- for category, message in get_flashed_messages(with_categories = true) %} -->
        <!--     <div class = "alert alert-danger"> -->
        <!--         {{ message }} -->
        <!--     </div> -->
        <!-- {%- endfor %} -->


        <header>
            <div class="title">
                <h2>Instituto Borboletas</h2>
                <h3 class="user">{{ data.user.name }}<h3>
            </div>

            <nav>
                <a href="/">Acessar pagina principal</a>
            </nav>

            <div class="logout">
                <a href="/usuarios/interno/logout">Sair</a>
            </div>
        </header>

        <main>
            <aside>
                <ul>
                    <li><a id="ajudas">Ajudas</a></li>
                    <!-- <li><a id="doacoes">Doacoes</a></li> -->
                    <li><a id="voluntarios">Voluntários</a></li>
                    <li><a id="usuarios_internos">Usuários internos</a></li>
                    <!-- <li><a id="usuarios_externos">Usuários externos</a></li> -->
                </ul>
            </aside>

            <div id="content" class="content">
                <h1>Dashboard</h1>
                <p>Seja bem-vindo ao seu dashboard interno!</p>
            </div>
        </main>
    </body>

    <script src="/public/scripts/internal_dashboard.js"></script>
</html>
