{% extends 'base.html' %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="/public/register_help.css">
{% endblock %}

{% block title %}
Pedir ajuda | Instituto Borboletas
{% endblock %}

{% block content %}
    <section>
        <form action="/ajudas" method="POST">
            <h1>Pedir ajuda</h1>

            <div class="warn-message">
                <p>Em caso de flagrante, ligue para a polícia no 190.</p>
                <a href="tel:190">Ligar para a polícia</a>
            </div>


            <fieldset>
                <legend>Tipo de ajuda</legend>
                <select id="kind" name="kind" required>
                    <option value="">Selecione um tipo de ajuda</option>
                    {% for kind in kinds %}
                        <option value="{{kind.id}}">{{kind.name}} - {{kind.description}}</option>
                    {% endfor %}
                </select>
            </fieldset>

            <fieldset>
                <legend>Em poucas palavras explique o seu pedido</legend>
                <input type="text" id="title" name="title" required>
            </fieldset>

            <fieldset>
                <legend>Descreva de forma detalhada</legend>
                <input type="text" id="description" name="description" required>
            </fieldset>

            <button type="submit">Enviar</button>
        </form>
    </section>
{% endblock %}

{% block extra_script %}
<script defer>
const phoneInput = document.getElementById('phone');
</script>
{% endblock %}

