{% extends 'base.html' %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="/public/register_volunteer.css">
{% endblock %}

{% block title %}
Seja voluntário | Instituto Borboletas
{% endblock %}

{% block content %}
    <section>
        <form action="/voluntarios" method="POST">
            <h1>Seja voluntário</h1>

            <fieldset>
                <legend>Tipo de voluntariado</legend>
                <select id="kind" name="kind" required>
                    <option value="">Selecione um tipo de voluntariado</option>
                    {% for kind in kinds %}
                        <option value="{{kind.id}}">{{kind.name}} - {{kind.description}}</option>
                    {% endfor %}
                </select>
            </fieldset>

            <fieldset>
                <label for="name">Nome do estabelecimento</label>
                <input type="text" id="name" name="name" required>
                <legend>Informações de identificação</legend>
            </fieldset>

            <fieldset>
                <legend>Dados de contato</legend>
                <p class="warn-message">Caso necessário, entraremos em contato usando os dados informados abaixo.</p>

                <label for="email" value="{{email}}">E-mail</label>
                <input type="text" id="email" name="email" required>

                <label for="phone" value="{{phone}}">Telefone/Celular</label>
                <input type="text" id="phone" name="phone" required>
            </fieldset>

            <button type="submit">Enviar</button>
        </form>
    </section>
{% endblock %}

{% block extra_script %}
<script defer>
const phoneInput = document.getElementById('phone');
</script>
{% endblock %}

