<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/sobre-nos.css">
    <title>Sobre-Nós</title>
</head>
<body>
    <header>
        <div class="container-logo">
            <a href="/website-main/templates/homepage.html" class="logo-button">
                <img src="/public/borboleta pac.png" alt="logo-imagem" class="logo-imagem">
            </a>
        </div>
        <nav class="menu">
            <ul class="botoes"> 
                <li><a href="/website-main/templates/ajuda-externa.html">Ajuda</a></li>
                <li><a href="/website-main/templates/doacao.html">Doações</a></li>
                <li><a href="/website-main/templates/sobre-nos.html">Sobre Nós</a></li>
            </ul>
            <ul class="login">
                <li><a href="/website-main/templates/login.html">Login</a></li>
                <li><a href="#">Cadastro</a></li>
            </ul>
        </nav>
    </header>
    <div class="header2">
        <div class="coragem">
            <h1>Coragem feminina é a</h1>
            <div class="sub-titulos">
                <h2>nossa </h2>
                <h3>Força</h3>
            </div>
        </div>
        <div >
            <p class="descricao"> A coragem feminina é uma força incomparável<br>
                que desafia barreiras e preconceitos. É uma<br>
                chama que arde com intensidade e conduz<br>
                mulheres por caminhos desconhecidos em<br>
                busca de seus objetivos.
            </p>
        </div>
    </div>
    <main class="main-content">
        <div class="texto">
            <div class="conteudo">
                <img src="/public/borboleta pac.png" alt="homepage1" class="homepage1">
                <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    <br>
                    Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </h2>
            </div>

            <div class="conteudo">
                <img src="/public/borboleta pac.png" alt="homepage2" class="homepage2">
                <h3>At vero eos et accusamus et iusto odio dignissimos ducimus
                    qui blanditiis praesentium voluptatum deleniti atque corrupti
                    quos dolores et quas molestias excepturi sint occaecati
                    cupiditate non provident, similique sunt in culpa qui officia
                    deserunt mollitia animi, id est laborum et dolorum fuga.
                    <br>
                    Nam libero tempore, cum soluta nobis est eligendi optio
                    cumque nihil impedit quo minus id quod maxime placeat
                    facere possimus, omnis voluptas assumenda est, omnis dolor
                    repellendus. Temporibus autem quibusdam et aut officiis debitis
                    aut rerum necessitatibus saepe eveniet ut et voluptates
                    repudiandae sint et molestiae non recusandae.
                    Itaque earum rerum hic tenetur a sapiente delectus, ut aut
                    reiciendis voluptatibus maiores alias consequatur aut
                    perferendis doloribus asperiores repellat.
                </h3>
            </div>
        </div>
    </main>
    <footer>
        <div class="menu2">
            <div class="container-logo2">
                <a href="/website-main/templates/homepage.html" class="logo-button2">
                    <img src="/public/borboleta pac.png" alt="logo-imagem2" class="logo-imagem2">
                </a>
            </div>
            <ul class="botoes2"> 
                <li><a href="/website-main/templates/ajuda-externa.html">Ajuda</a></li>
                <li><a href="/website-main/templates/doacao.html">Doações</a></li>
                <li><a href="/website-main/templates/sobre-nos.html">Sobre Nós</a></li>
            </ul>
            <div class="informacoes">
                <h1>(47) 9999-9999 | R. XXXXXX XXX, 24</h1>
            </div>
        </div>
    </footer>
</body>
</html>