@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

body {
  @apply font-sans;
  @apply bg-gray-200;
  @apply text-gray-900;
  @apply antialiased;
}

#root {
  @apply flex flex-col h-screen;
}

main {
  @apply flex flex-col flex-1;
  @apply w-5/6 mx-auto;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

select {
  padding-top: 0;
}
